In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [3]:
premise_file = "beers_brewery_locations_city_state.csv"
premise = pd.read_csv(premise_file)
del premise['Unnamed: 0']
premise.head()

,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN

### Transform county DataFrame

### Create database connection

In [4]:
#engine = create_engine("mysql://root@localhost/customer_db")
engine = create_engine("sqlite:///new_database.sqlite")
conn = engine.connect()

In [5]:
#rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
#engine = create_engine(f'mysql://{rds_connection_string}')

In [6]:
# Confirm tables
engine.table_names()

[]

### Load DataFrames into database

In [7]:
premise.head()

,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN

In [8]:
#premise.to_sql(name='premis', con=engine, if_exists='append', index=False)

In [ ]:
#pd.read_sql('belly_button_biodiversity.sqlite')

In [8]:
premise = premise.reset_index(drop=False)

#premise = premise.rename(index=str, columns={"index": "beer_key"})

premise.head()

,index,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN

In [9]:
premise.to_sql(name='beer', con=engine, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from beer', con=engine).head()

,index,Beer,Total_Votes,Rating,Brewery,Beer_Style,ABV,Region,Latitude,Longitude,City,State
0,0,Bitches' Bank,234,4.41,18th Street Brewery - Gary Taproom,Russian Imperial Stout,12.00%,great-lakes,41.599057,-87.267179,Gary,IN
1,1,Marshmallow Handjee,"1,682",4.73,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN
2,2,Pear Bear,298,4.36,3 Floyds Brewing Co.,American Wild Ale,7.50%,great-lakes,41.535525,-87.516811,Munster,IN
3,3,Barrel Aged Behemoth,474,4.36,3 Floyds Brewing Co.,American Barleywine,12.50%,great-lakes,41.535525,-87.516811,Munster,IN
4,4,French Vanilla Militia,35,4.51,3 Floyds Brewing Co.,Russian Imperial Stout,15.00%,great-lakes,41.535525,-87.516811,Munster,IN